# Quantitative Methods for Business
## Decision Making with Uncertainty

In [1]:
#libraries
import numpy as np
import pandas as pd

A restauranter is going to set up a cream tea stall at a local gala. On the morning of the gala she visits the wholesale market and has to decide whether to buy a large, medium or small quantity of strawberries, scones, cream and other materials. Her profit depends on the number of people attending the gala, and this in turn depends on the weather. If her matrix of gains (in thousands of pounds) for different weather condition is given below, what quantity or materials should she buy?

|  | good | average | poor |
| --- | --- | --- | --- |
| large quantity | 10 | 4 | -2 |
| medium quantity | 7 | 6 | 2 |
| small quantity | 4 | 1 | 4 |

In [2]:
# Construct the Table

good = np.array([10,7,4])
average = np.array([4,6,1])
poor = np.array([-2,2,4])

# Create a Data Frame
data = {'Good': good, 
        'Average': average,
        'Poor': poor}

table =pd.DataFrame(data, index=['large quantity', 'medium quantity', 'small quantity'])

panel = pd.DataFrame(table)
panel

                 Good  Average  Poor
large quantity     10        4    -2
medium quantity     7        6     2
small quantity      4        1     4

In [3]:
# Calculate the Average Profit

table['Est. Profit'] = (table['Good'] + table['Average'] + table['Poor']) /3

panel

                 Good  Average  Poor  Est. Profit
large quantity     10        4    -2          4.0
medium quantity     7        6     2          5.0
small quantity      4        1     4          3.0

In [4]:
# Best option

maximo = table['Est. Profit'].max()
indecx = table[table['Est. Profit'] == maximo].index.values

print("Max. Profit:", maximo)
print("Best choice:", indecx)

Max. Profit: 5.0
Best choice: ['medium quantity']

## Wald Decision Criterion (Maxmin)

* For each alternative find the worst outcome.
* Choose the alternative from the best of these worst outcomes.

In [5]:
# Calculate Wald Profit

table['Wald'] = table[['Good', 'Average', 'Poor']].min(axis=1)

panel

                 Good  Average  Poor  Est. Profit  Wald
large quantity     10        4    -2          4.0    -2
medium quantity     7        6     2          5.0     2
small quantity      4        1     4          3.0     1

In [6]:
# Conservative option

maxmin = table['Wald'].max()   # Max of the Mins
indecy = table[table['Wald'] == maxmin].index.values

print("Wald Decision Criterion:", maxmin)
print("Wald choice:", indecy)

Wald Decision Criterion: 2
Wald choice: ['medium quantity']

## Savage Decision Criterion

1 - For each event find the best possible outcome (the best entry in each column of the payoff matrix).

2 - Find the regret for every entry in the column, with is the difference between the entry itself and the best in the column.

3 - Put the regrets found in Step 2 into a "regret matrix". There should be at least one zero in each column (for the best outcome) and regrets are always positive.

4 - For each alternative find the highest regret (highest number in each row).

5 - Choosee the alternative with the best (lowest) of these highest regrets.

Steps 1 to 3 built a matrix, and then steps 4 and 5 apply the Wald criterion to regret matrix.

In [7]:
# Construct the Basic Table

amount = ['large quantity', 'medium quantity', 'small quantity']
good = np.array([10,7,4])
average = np.array([4,6,1])
poor = np.array([-2,2,4])

# Create a Data Frame
data1 = {'Amount': amount,
         'Good': good, 
        'Average': average,
        'Poor': poor}

table1 =pd.DataFrame(data1)
table1

            Amount  Good  Average  Poor
0   large quantity    10        4    -2
1  medium quantity     7        6     2
2   small quantity     4        1     4

In [8]:
# Savage Decision Criterion - Step 1 to 3

tab = table1.copy()

maxa = tab['Good'].max()
maxb = tab['Average'].max()
maxc = tab['Poor'].max()

tab['Good'] = maxa - tab['Good']
tab['Average'] = maxb - tab['Average']
tab['Poor'] = maxc - tab['Poor']

tab

            Amount  Good  Average  Poor
0   large quantity     0        2     6
1  medium quantity     3        0     2
2   small quantity     6        5     0

In [9]:
# Savage Decision Criterion - Step 4 to 5

tab['Regrets'] = tab[['Good', 'Average', 'Poor']].max(axis=1)

tab

            Amount  Good  Average  Poor  Regrets
0   large quantity     0        2     6        6
1  medium quantity     3        0     2        3
2   small quantity     6        5     0        6

In [10]:
maxminr = tab['Regrets'].min()

ide = str(tab[tab['Regrets'] == maxminr]['Amount'])[0]
ide = int(ide)
target = tab.at[ide, 'Amount']
# another way: tab[tab['Regrets'] == maxminr]['Amount']

print("Minimal Regret:", maxminr)
print("Savege choice:", target)

Minimal Regret: 3
Savege choice: medium quantity

## Choosing the Criterion to Use

Lawrence Pang has a problem with the following payoff matrix of costs. Use the **Laplace**, **Wald** and **Savage** decision criterion to show the best alternatives.

|  | E1 | E2 | E3 |
| --- | --- | --- | --- |
| action A | 14 | 22 | 6 |
| action B | 19 | 18 | 12 |
| action C | 12 | 17 | 15 |

In [11]:
# Construct the Table

e1 = np.array([14,19,12])
e2 = np.array([22,18,17])
e3 = np.array([6,12,15])

# Create a Data Frame
data2 = {'E1': e1, 
        'E2': e2,
        'E3': e3}

tab2 =pd.DataFrame(data2, index=['action A', 'action B', 'action C'])

tab2

          E1  E2  E3
action A  14  22   6
action B  19  18  12
action C  12  17  15

In [12]:
# Laplace = Min of the Means

tab3 = tab2.copy()

tab3['Mean'] = tab3[['E1', 'E2', 'E3']].mean(axis=1)

minmeans = tab3['Mean'].min()

indecl = tab3[tab3['Mean'] == minmeans].index.values

tab3['Mean'] = tab3['Mean'].round(decimals = 2)


print(tab3)
print()
print("Lowest average costs:", minmeans)
print("Laplace's choice:", indecl)

          E1  E2  E3   Mean
action A  14  22   6  14.00
action B  19  18  12  16.33
action C  12  17  15  14.67

Lowest average costs: 14.0
Laplace's choice: ['action A']

In [13]:
# Wald = Min of the Maxs

tab4 = tab2.copy()

tab4['High'] = tab4[['E1', 'E2', 'E3']].max(axis=1)

minmax = tab4['High'].min()

indecw = tab4[tab4['High'] == minmax].index.values


print(tab4)
print()
print("Min.Max:", minmax)
print("Wald's choice:", indecw)

          E1  E2  E3  High
action A  14  22   6    22
action B  19  18  12    19
action C  12  17  15    17

Min.Max: 17
Wald's choice: ['action C']

In [14]:
# Savage = Regret Matrix, Min Max

tab5 = tab2.copy()

maxe1 = tab5['E1'].max()
maxe2 = tab5['E2'].max()
maxe3 = tab5['E3'].max()

tab5['E1'] = maxe1 - tab5['E1']
tab5['E2'] = maxe2 - tab5['E2']
tab5['E3'] = maxe3 - tab5['E3']

tab5['Regrets'] = tab5[['E1', 'E2', 'E3']].max(axis=1)
minreg = tab5['Regrets'].min()
indecs = tab5[tab5['Regrets'] == minreg].index.values

print(tab5)
print()
print("Minimum Regret:", minreg)
print("Savage's choice:", indecs)

          E1  E2  E3  Regrets
action A   5   0   9        9
action B   0   4   3        4
action C   7   5   0        7

Minimum Regret: 4
Savage's choice: ['action B']

## Hurwicz Balanced Criterion

Paco Menendes ran a plumbing wholesale business based in the Mexican city of Guadalajara. In the late 1990s he developed a simple valve mechanism for controlling the flow of water in domestica solar heating systems. He had to decide how to market his idea, and in the short term his options can be summarised as sell the valve locally, sell nationally through a website, enter a partnership with an existing company, or sell the patent. His returns depend on demand, which he described as high, medium, low. Using this simple model, he developed the matrix of potential annual gains show below.


|  | High | Medium | Low |
| --- | --- | --- | --- |
| Market locally | 50 | 25 | -20 |
| Use Website | 85 | 55 | -10 |
| Partnership | 40 | 25 | 10 |
| Sell Patent | 25 | 25 | 25 |

In [15]:
# Construct the Basic Table

high = np.array([50,85,40,25])
medium = np.array([25,55,25,25])
low = np.array([-20,-10,10,25])
alpha = np.array([8,28,22,25])

# Create a Data Frame
data6 = {'High': high,
         'Medium': medium, 
        'Low': low}

tab6 =pd.DataFrame(data6, index=['Market locally', 'Use Website', 'Partnership', 'Sell Patent'])

tab6

                High  Medium  Low
Market locally    50      25  -20
Use Website       85      55  -10
Partnership       40      25   10
Sell Patent       25      25   25

In [16]:
# Hurwicz Balanced Criterion = aplha * best outcome + (1 - alpha) * worst outcome

alpha = 0.4

tabh = tab6.copy()
tabh['Alpha 0.4'] = alpha * tabh[['High','Medium','Low']].max(axis=1) + (1-alpha) * tabh[['High','Medium','Low']].min(axis=1)

maxbc = tabh['Alpha 0.4'].max()
indech = tabh[tabh['Alpha 0.4'] == maxbc].index.values

print(tabh)
print()
print("Balanced Criterion:", maxbc)
print("Hurwicz's choice:", indech)

                High  Medium  Low  Alpha 0.4
Market locally    50      25  -20        8.0
Use Website       85      55  -10       28.0
Partnership       40      25   10       22.0
Sell Patent       25      25   25       25.0

Balanced Criterion: 28.0
Hurwicz's choice: ['Use Website']